<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MytShell.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>11F6024C6B38AF3004BAFCB652BB2D1BE88130EC</string>
				<key>dateExpires</key>
				<string>2020/5/15</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>11F6024C6B38AF3004BAFCB652BB2D1BE88130EC</string>
						<key>dateExpires</key>
						<string>2020/5/15</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SJN78ELCW7</string>
						<key>name</key>
						<string>Xiamen Meiyitong Software Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SJN78ELCW7.com.myt.yslt</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SJN78ELCW7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MytShell.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d6123553-a88d-44b7-996f-259b9f3d01d2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.myt.yslt</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SJN78ELCW7</string>
				<key>name</key>
				<string>Xiamen Meiyitong Software Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
